
<h2>Updates On MyRPG</h2>  
<table>
  <tr class="selected">
  <td>
    <a href="https://my.mixtape.moe/glqtem.zip">My RPG rev. 16</a>
  </td>
  <td>added fireball</td>
  </tr>
  <tr>
  <td>
    <a href="https://my.mixtape.moe/spqtsk.zip">My RPG rev. 15</a>
  </td>
  <td>added floating damage and healing indicators</td>
  </tr>
  <tr>
  <td>
    <a href="https://my.mixtape.moe/zweife.zip">My RPG rev. 14</a>
  </td>
  <td>added regen and poison potions</td>
  </tr>
  <tr>
  <td>
    <a href="https://my.mixtape.moe/kgqsnr.zip">My RPG rev. 13</a>
  </td>
  <td>fixed inventory bugs</td>
  </tr>
</table>
